<h4>Xero Ruby Oauth2 Demo App</h4>
<p><%= form_tag('/auth/xero_oauth2', method: 'post') do %>
  <%# <input type="hidden" name="state" value="runtime-sup3r$ecretSt@te"> %>
  <button type='submit'>Connect to Xero</button>
<% end %></p>